<h1><%= @user.username %></h1>
<div class="error_explanation">
<%= flash[:message] if flash[:message] %>
</div>
<h2>Bio: </h2>


<%= link_to "Edit Bio", edit_user_path(current_user) if current_user == @user %>
<br>
<%= link_to "Your Novels", user_novels_path(current_user) if current_user == @user %>
