<h1>Your Novels</h1>
<ul>
<% @user.novels.each do |novel| %>
  <li><%= link_to "#{novel.title}", novel_path(novel) %> - <%= novel_membership(novel, @user) %></li>
<% end %>
</ul>
<%= link_to "Create New Novel", new_novel_path if current_user == @user %>
