<h1><%= @novel.title %></h1>

<h2>Members:</h2>
<% @novel.users.each do |user| %>
  <%= link_to user_path(user.username) %>
<% end %>

<p><%= @novel.summary %></p>

<h2>Snippets:</h2>

<%= link_to "Edit Novel", edit_novel_path(@novel) %>
